.content{
    display: flex;
    height: 100vh;
    place-items: center;
    justify-content: center;
    text-align: center;
}
.loaders{
    display: flex;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgb(115, 106, 27);
    margin-right: 20px;
    animation: loader-bounce 3s linear alternate infinite;
}

.kite{
    width: 15px;
    height: 15px;
    border: 1px solid red;
    transform: rotate(45deg);
    margin-right: 20px;
    animation: loader-bounce 5s linear alternate infinite;
}

.rect{
    width: 15px;
    height: 15px;
    border: 1px solid blueviolet;
    margin-right: 20px;
    animation: loader-bounce 5s linear alternate infinite;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(66, 215, 66);
    margin-right: 20px;
    animation: loader-bounce 4s linear alternate infinite;
}

@keyframes loader-bounce{
    0%, 40%, 80%{
        transform: translateY(-50px);
    }
    20%, 60%, 100%{
        transform: translateY(0px);
    }
}
